@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  font-family: 'Permanent Marker', cursive;
  background: url('./white-board-background-5.jpg') no-repeat center center fixed;
}

h1 {
  font-size: 6em;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

h2 {
  width: 50%;
  margin: 1em auto;
}

h3 {
  font-size: 1.5em;
  color: red;
}

aside {
  width: 25%;
  margin: 1em auto;
}

p {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgb(55, 116, 248);
}

span {
  color: rgb(55, 231, 158);
}
