@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  font-family: 'Permanent Marker', cursive;
  background: url('./white-board-background-5.jpg') no-repeat center center fixed;
}

h1 {
  font-size: 6em;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

h2 {
  width: 50%;
  margin: 1em auto;
}
